[Unit]
Description=puppetserver Service
After=network.target nss-lookup.target

[Service]
Type=exec
User=puppet
TimeoutStartSec=300
TimeoutStopSec=60
Restart=on-failure
StartLimitBurst=5

PrivateTmp=true
ConfigurationDirectory=puppetserver
LogsDirectory=puppetserver
RuntimeDirectory=puppetserver
StateDirectory=puppetserver

# set default privileges to -rw-r-----
UMask=027

Environment="JAVA_BIN=/usr/lib/jvm/jre-17/bin/java"
Environment="TK_ARGS="
Environment="JAVA_ARGS=-Xms2g -Xmx2g -Djruby.logger.class=com.puppetlabs.jruby_utils.jruby.Slf4jLogger"

ExecStart=/usr/libexec/puppetserver/puppetserver

SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
